-- =========================================
-- Alumni Management System SQL
-- Ready for phpMyAdmin (InfinityFree)
-- =========================================

-- ===============================
-- Table: jobs
-- ===============================
CREATE TABLE IF NOT EXISTS jobs (
    id INT AUTO_INCREMENT PRIMARY KEY,
    title VARCHAR(255) NOT NULL,
    company VARCHAR(255) NOT NULL,
    location VARCHAR(255) NOT NULL,
    description TEXT NOT NULL,
    requirements TEXT NOT NULL
);

-- ===============================
-- Table: applications
-- ===============================
CREATE TABLE IF NOT EXISTS applications (
    id INT AUTO_INCREMENT PRIMARY KEY,
    job_id INT NOT NULL,
    applicant_name VARCHAR(255) NOT NULL,
    email VARCHAR(255) NOT NULL,
    cover_letter TEXT,
    applied_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (job_id) REFERENCES jobs(id) ON DELETE CASCADE
);

-- ===============================
-- Table: donations
-- ===============================
CREATE TABLE IF NOT EXISTS donations (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    email VARCHAR(255) NOT NULL,
    amount DECIMAL(10,2) NOT NULL,
    payment_id VARCHAR(255) NOT NULL,
    donation_date DATETIME DEFAULT CURRENT_TIMESTAMP
);

-- ===============================
-- Table: events
-- ===============================
CREATE TABLE IF NOT EXISTS events (
    id INT AUTO_INCREMENT PRIMARY KEY,
    title VARCHAR(255) NOT NULL,
    date DATE NOT NULL,
    description TEXT NOT NULL,
    venue VARCHAR(255) NOT NULL
);

-- ===============================
-- Table: mentors
-- ===============================
CREATE TABLE IF NOT EXISTS mentors (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    description VARCHAR(255) NOT NULL,
    image_path VARCHAR(255) NOT NULL
);

-- ===============================
-- Table: users
-- ===============================
CREATE TABLE IF NOT EXISTS users (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    email VARCHAR(100) NOT NULL UNIQUE,
    password VARCHAR(255) NOT NULL,
    grad_year VARCHAR(10),
    department VARCHAR(50),
    admission_number VARCHAR(50) UNIQUE,
    role VARCHAR(50) DEFAULT 'alumni',
    phone VARCHAR(15),
    bio TEXT,
    reset_token VARCHAR(255),
    token_expiry DATETIME,
    otp VARCHAR(6),
    otp_expiry DATETIME
);

-- ===============================
-- Table: videos
-- ===============================
CREATE TABLE IF NOT EXISTS videos (
    id INT AUTO_INCREMENT PRIMARY KEY,
    url VARCHAR(255) NOT NULL,
    added_by VARCHAR(50) NOT NULL
);

-- ===============================
-- Sample Data Inserts
-- ===============================

-- Jobs
INSERT INTO jobs (title, company, location, description, requirements) VALUES
('Software Developer', 'Tech Solutions Inc.', 'Remote', 'Develop and maintain software applications.', 'Proficiency in JavaScript, React.'),
('Data Scientist', 'DataX Analytics', 'San Francisco, CA', 'Analyze large datasets.', 'Experience with Python and ML algorithms.'),
('Web Designer', 'Creative Web Studio', 'New York, NY', 'Design responsive websites.', 'Experience with HTML, CSS, Adobe Photoshop.');

-- Applications
INSERT INTO applications (job_id, applicant_name, email, cover_letter) VALUES
(1, 'richi', 'joyswapnilrajparadeshi@gmail.com', 'Sample Cover Letter 1'),
(1, 'stanly', 'sumithstanly1@gmail.com', 'Sample Cover Letter 2');

-- Events
INSERT INTO events (title, date, description, venue) VALUES
('Annual Alumni Meet 2025', '2025-03-15', 'Reconnect with batchmates.', 'JNTUA Campus Auditorium'),
('Webinar on Career Development', '2025-02-10', 'Insights and strategies for career advancement.', 'Zoom'),
('Startup Showcase', '2025-04-05', 'Explore innovative startups.', 'JNTUA Innovation Center');

-- Mentors
INSERT INTO mentors (name, description, image_path) VALUES
('Prof. A. Suresh Babu', 'Specializes in data mining.', 'images/mentor2.jpg'),
('Prof. A. Ananda Rao', 'Specializes in AI.', 'images/mentor3.jpg'),
('Prof. B. Eswar Reddy', 'Director of development.', 'images/mentor1.jpg');

-- Users
INSERT INTO users (name, email, password, grad_year, department, admission_number, role, phone, bio) VALUES
('swapnil', 'venny@gmail.com', 'password_hash_1', '2023', 'CSE', '23001A0503', 'alumni', NULL, NULL),
('chiru', 'joyswapnilrajparadeshi@gmail.com', 'password_hash_2', '2023', 'CSE', '23001A0517', 'alumni', '9703718325', 'From Pulliah College.');

-- Videos
INSERT INTO videos (url, added_by) VALUES
('https://www.youtube.com/embed/Wxw48G-QFZM', 'vinny'),
('https://www.youtube.com/embed/3ZWYs0efm48', 'vinny');